@model Project

<h1>Create project</h1>

<form asp-action="Create" method="post">
    <p>
        <label asp-for="Name"></label>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </p>
    <p>
        <label asp-for="Description"></label>
        <input asp-for="Description"/>
        <span asp-validation-for="Description"></span>
    </p>
    <button type="submit" name="Submit" value="Create">Create</button>
</form>