@model Project

<h1>Project Details</h1>

<p>
    <label asp-for="Id"></label>
    @Html.DisplayFor(model => model!.Id)
</p>
<p>
    <label asp-for="Name"></label>
    @Html.DisplayFor(model => model!.Name)
</p>
<p>
    <label asp-for="Description"></label>
    @Html.DisplayFor(model => model!.Description)
</p>
<p>
    <label asp-for="CreatedAt"></label>
    @Html.DisplayFor(model => model!.CreatedAt)
</p>